<div class="header">
	<h3><%= current_user.username %></h3>
</div>


<% current_user.posts.each do |post| %>
<div class="well well-small">
	<tr>
		<td><strong><a><%= link_to post.title, post %></strong></a></td> |
		<% if post.created_at > Time.now.beginning_of_day %>
		      <td>Posted: <%= time_ago_in_words(post.created_at) + " " + "ago" %></td> 
		      <% else %>
		      <td>Posted: <%= post.created_at.strftime("%b %d, %Y") %></td>
		      <% end %><br />
		<td><%= link_to 'Edit', edit_post_path(post), params: :id %></td> |
		<td><%= link_to 'Remove', post, method: :delete, data: { confirm: 'Are you sure?' } %></td> 
    </tr>
</div>
<% end %>

<h5><%= link_to "Edit Your Account", edit_user_registration_path %></h5>



